* {
  font-family: "苹方", "Microsoft YaHei", "微软雅黑", Helvetica, "黑体", Arial, Tahoma;
}
body {
  margin: 0;
  text-align: left;
  color: #6d6d6d;
  font: 14px/140% "\5B8B\4F53", Arial, Verdana;
  font-family: "苹方", "Microsoft YaHei", "微软雅黑", Helvetica, "黑体", Arial, Tahoma;
  min-width: 1000px;
}
div,
dl,
dt,
td,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
p,
blockquote {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 0px;
  font-size: 12px;
}
h2 {
  font-weight: normal;
}
form,
select {
  margin: 0px;
  padding: 0px;
}
input,
textarea {
  padding: 0;
  font-size: 12px;
  resize: none;
  outline: none;
  border: 0;
  font-family: inherit;
}
a img {
  border: 0;
}
div,
h1,
h2,
p,
Table,
Tr,
Td {
  word-wrap: break-word;
  word-break: break-all;
}
address,
button,
caption,
cite,
code,
dfn,
em,
input,
optgroup,
option,
select,
strong,
textarea,
th,
var {
  font-style: normal;
}
ul,
ol,
li {
  list-style: none;
}
ul li {
  vertical-align: top;
}
img {
  vertical-align: middle;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
th {
  font-weight: normal;
}
/*Vue隐藏样式*/
[v-cloak] {
  display: none;
}
/*链接样式*/
a,
a.c-blue {
  color: #2da5ee;
}
a:focus {
  outline: 0;
}
a:link,
a:visited {
  text-decoration: none;
  vertical-align: middle;
  word-break: break-all;
  outline: none;
}
a:hover {
  text-decoration: none;
  word-break: break-all;
  color: #fb923f;
}
a:active {
  word-break: break-all;
  color: #fb923f;
}
a:hover span {
  cursor: pointer;
  text-decoration: none;
}
.d-i {
  display: inline !important;
}
.d-b {
  display: block !important;
}
.d-ib {
  display: inline-block !important;
}
.d-n {
  display: none !important;
}
.fr {
  float: right !important;
}
.fl {
  float: left !important;
}
.clearfix:after {
  content: "\20";
  visibility: hidden;
  overflow: hidden;
  display: block;
  clear: both;
  height: 0;
}
.t-c {
  text-align: center !important;
}
.t-l {
  text-align: left !important;
}
.t-r {
  text-align: right !important;
}
.p-r {
  position: relative !important;
}
.p-a {
  position: absolute !important;
}
.p-s {
  position: static !important;
}
.p-f {
  position: fixed !important;
}
.w1200 {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}
.wper50 {
  width: 50%;
}
.wper80 {
  width: 80%;
}
.wper100 {
  width: 100%;
}
/*2.1 栅格系统
    Name:           style_span
    Example:
    <div class="responsive">
    <div class="row cl" role="grid">
      <div class="col-1">……</div>
      ……
    </div>
    </div>
    Explain:        栅格系统
*/
/*2.1 响应式栅格系统*/
.row {
  box-sizing: border-box;
}
[class^="col-"],
[class*=" col-"] {
  box-sizing: border-box;
  float: left;
  min-height: 1px;
  position: relative;
}
.col-1 {
  width: 8.33333%;
}
.col-2 {
  width: 16.66667%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33333%;
}
.col-5 {
  width: 41.66667%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33333%;
}
.col-8 {
  width: 66.66667%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33333%;
}
.col-11 {
  width: 91.66667%;
}
.col-12 {
  width: 100%;
}
.col-offset-0 {
  margin-left: 0;
}
.col-offset-1 {
  margin-left: 8.33333%;
}
.col-offset-2 {
  margin-left: 16.66667%;
}
.col-offset-3 {
  margin-left: 25%;
}
.col-offset-4 {
  margin-left: 33.33333%;
}
.col-offset-5 {
  margin-left: 41.66667%;
}
.col-offset-6 {
  margin-left: 50%;
}
.col-offset-7 {
  margin-left: 58.33333%;
}
.col-offset-8 {
  margin-left: 66.66667%;
}
.col-offset-9 {
  margin-left: 75%;
}
.col-offset-10 {
  margin-left: 83.33333%;
}
.col-offset-11 {
  margin-left: 91.66667%;
}
.col-push-0 {
  position: relative;
  left: 0;
  right: auto;
}
.col-pull-0 {
  right: 0;
  left: auto;
}
.col-push-1 {
  left: 8.33333%;
  right: auto;
}
.col-pull-1 {
  right: 8.33333%;
  left: auto;
}
.col-push-2 {
  left: 16.66667%;
  right: auto;
}
.col-pull-2 {
  right: 16.66667%;
  left: auto;
}
.col-push-3 {
  left: 25%;
  right: auto;
}
.col-pull-3 {
  right: 25%;
  left: auto;
}
.col-push-4 {
  left: 33.33333%;
  right: auto;
}
.col-pull-4 {
  right: 33.33333%;
  left: auto;
}
.col-push-5 {
  left: 41.66667%;
  right: auto;
}
.col-pull-5 {
  right: 41.66667%;
  left: auto;
}
.col-push-6 {
  left: 50%;
  right: auto;
}
.col-pull-6 {
  right: 50%;
  left: auto;
}
.col-push-7 {
  left: 58.33333%;
  right: auto;
}
.col-pull-7 {
  right: 58.33333%;
  left: auto;
}
.col-push-8 {
  left: 66.66667%;
  right: auto;
}
.col-pull-8 {
  right: 66.66667%;
  left: auto;
}
.col-push-9 {
  left: 75%;
  right: auto;
}
.col-pull-9 {
  right: 75%;
  left: auto;
}
.col-push-10 {
  left: 83.33333%;
  right: auto;
}
.col-pull-10 {
  right: 83.33333%;
  left: auto;
}
.col-push-11 {
  left: 91.66667%;
  right: auto;
}
.col-pull-11 {
  right: 91.66667%;
  left: auto;
}
/*局部模块平分*/
.col-1-1 {
  width: 100%;
}
.col-2-1 {
  width: 50%;
}
.col-3-1 {
  width: 33.333333%;
}
.col-3-2 {
  width: 66.666667%;
}
.col-4-1 {
  width: 25%;
}
.col-4-3 {
  width: 75%;
}
.col-5-1 {
  width: 20%;
}
.col-5-2 {
  width: 40%;
}
.col-5-3 {
  width: 60%;
}
.col-5-4 {
  width: 80%;
}
.col-6-1 {
  width: 16.666667%;
}
.col-6-5 {
  width: 83.333333%;
}
/*3.1.8 外边距
    Name:           style_margin
    Example:        class="mt-5|mt-10..."
    Explain:        .mt表示上边距|.mb表示下边距|.ml表示左边距|.mr表示右边距
*/
.m0a {
  margin: 0 auto;
}
.mt-5 {
  margin-top: 5px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-15 {
  margin-top: 15px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-25 {
  margin-top: 25px;
}
.mt-30 {
  margin-top: 30px;
}
.mt-35 {
  margin-top: 35px;
}
.mt-40 {
  margin-top: 40px;
}
.mt-50 {
  margin-top: 50px;
}
.mb-5 {
  margin-bottom: 5px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-50 {
  margin-bottom: 50px;
}
.ml-5 {
  margin-left: 5px;
}
.ml-10 {
  margin-left: 10px;
}
.ml-15 {
  margin-left: 15px;
}
.ml-20 {
  margin-left: 20px;
}
.ml-30 {
  margin-left: 30px;
}
.ml-40 {
  margin-left: 40px;
}
.ml-50 {
  margin-left: 50px;
}
.mr-5 {
  margin-right: 5px;
}
.mr-10 {
  margin-right: 10px;
}
.mr-15 {
  margin-right: 15px;
}
.mr-20 {
  margin-right: 20px;
}
.mr-30 {
  margin-right: 30px;
}
.mr-40 {
  margin-right: 40px;
}
.mr-50 {
  margin-right: 50px;
}
/*3.1.9 内填充
    Name:           style_padding
    Example:        class="pt-5|pt-10|……"
    Explain:        .pt表示上填充|.pb表示下填充|.pl表示左填充|.pr表示右填充
*/
.pt-5 {
  padding-top: 5px;
}
.pt-10 {
  padding-top: 10px;
}
.pt-20 {
  padding-top: 20px;
}
.pt-40 {
  padding-top: 40px;
}
.pb-5 {
  padding-bottom: 5px;
}
.pb-10 {
  padding-bottom: 10px;
}
.pb-20 {
  padding-bottom: 20px;
}
.pb-40 {
  padding-bottom: 40px;
}
.pl-5 {
  padding-left: 5px;
}
.pl-10 {
  padding-left: 10px;
}
.pl-20 {
  padding-left: 20px;
}
.pl-40 {
  padding-left: 40px !important;
}
.pr-5 {
  padding-right: 5px;
}
.pr-10 {
  padding-right: 10px;
}
.pr-20 {
  padding-right: 20px;
}
.pr-40 {
  padding-right: 40px !important;
}
.pd-5 {
  padding: 5px;
}
.pd-10 {
  padding: 10px;
}
.pd-15 {
  padding: 15px;
}
.pd-20 {
  padding: 20px;
}
.pd-30 {
  padding: 30px;
}
.pd-40 {
  padding: 40px;
}
/*3.1.13 文字尺寸
    Name:           style_font-size
    Example:        class="f-12|f-14|f-16|f-18|f-20|f-24|f-26|f-28|f-30"
    Explain:        12px字体|14px字体|16px字体|18px字体|20px字体|24px字体|26px字体|28px字体|30px字体
*/
.f-12 {
  font-size: 12px;
}
.f-14 {
  font-size: 14px;
}
.f-16 {
  font-size: 16px;
}
.f-18 {
  font-size: 18px;
}
.f-20 {
  font-size: 20px;
}
.f-22 {
  font-size: 22px;
}
.f-24 {
  font-size: 24px;
}
.f-26 {
  font-size: 26px;
}
.f-28 {
  font-size: 28px;
}
.f-30 {
  font-size: 30px;
}
/*3.1.14 文字行距
    Name:           mod_line-height
    Example:        class="lh-16|lh-18|lh-20|lh-22|lh-24|lh-26|lh-28|lh-30"
    Explain:        16px行高|18px行高|20px行高|22px行高|24px行高|26px行高|30px行高
*/
.lh-16 {
  line-height: 16px;
}
.lh-18 {
  line-height: 18px;
}
.lh-20 {
  line-height: 20px;
}
.lh-22 {
  line-height: 22px;
}
.lh-24 {
  line-height: 24px;
}
.lh-26 {
  line-height: 26px;
}
.lh-28 {
  line-height: 28px;
}
.lh-30 {
  line-height: 30px;
}
/*2.0以前的兼容版本*/
.l16 {
  line-height: 16px;
}
.l18 {
  line-height: 18px;
}
.l20 {
  line-height: 20px;
}
.l22 {
  line-height: 22px;
}
.l-24 {
  line-height: 24px;
}
.l-26 {
  line-height: 26px;
}
.l-28 {
  line-height: 28px;
}
.l-30 {
  line-height: 30px;
}
/*3.1.15 文字颜色
    Name:           style_color
    Example:        class="c-primary|c-sub|c-success|c-danger|c-warning|c-333|c-666|c-999|c-red|c-green|c-blue|c-white|c-black|c-orange"
    Explain:        主要颜色|次主色|强调色—成功|强调色—危险|强调色—警告色|强调色—错误色|次主色—浅黑|辅助色—灰色|标准色—红色|标准色—绿色|标准色—蓝色|标准色—白色|标准色—黑色|标准色—橙色
*/
/*全局默认链接颜色*/
.bg-fff {
  background-color: #fff !important;
}
a {
  color: #333;
}
a:hover {
  color: #06c;
}
/*主要颜色*/
.c-primary,
.c-primary a,
a.c-primary {
  color: #5a98de;
}
.c-primary a:hover,
a.c-primary:hover {
  color: #5a98de;
}
/*次主色*/
.c-secondary,
.c-secondary a,
a.c-secondary {
  color: #555;
}
.c-secondary a:hover,
a.c-secondary:hover {
  color: #555;
}
/*强调色—成功*/
.c-success,
.c-success a,
a.c-success {
  color: #5eb95e;
}
.c-success a:hover,
a.c-success:hover {
  color: #5eb95e;
}
/*强调色—危险*/
.c-danger,
.c-danger a,
a.c-danger {
  color: #dd514c;
}
.c-danger a:hover,
a.c-danger:hover {
  color: #dd514c;
}
/*强调色—警告*/
.c-warning,
.c-warning a,
a.c-warning {
  color: #f37b1d;
}
.c-warning a:hover,
a.c-warning:hover {
  color: #f37b1d;
}
/*强调色—错误*/
.c-error,
.c-error a,
a.c-error {
  color: #c00;
}
.c-error a:hover,
a.c-error:hover {
  color: #c00;
}
/*辅助色—浅黑*/
.c-333,
.c-333 a,
a.c-333 {
  color: #333;
}
.c-333 a:hover,
a.c-333:hover {
  color: #333;
}
/*辅助色—灰色*/
.c-666,
.c-666 a,
a.c-666 {
  color: #666;
}
.c-666 a:hover,
a.c-666:hover {
  color: #666;
}
.c-999,
.c-999 a,
a.c-999 {
  color: #999;
}
.c-999 a:hover,
a.c-999:hover {
  color: #999;
}
/*标准色—红色*/
.c-red,
.c-red a,
a.c-red {
  color: red;
}
.c-red a:hover,
a.c-red:hover {
  color: red;
}
/*标准色—红色*/
.c-red2,
.c-red2 a,
a.c-red2 {
  color: #f35e40;
}
.c-red2 a:hover,
a.c-red2:hover {
  color: #f35e40;
}
/*标准色—绿色*/
.c-green,
.c-green a,
a.c-green {
  color: green;
}
.c-red a:hover,
a.c-red:hover {
  color: green;
}
/*标准色—蓝色*/
.c-blue,
.c-blue a,
a.c-blue {
  color: blue;
}
.c-blue a:hover,
a.c-blue:hover {
  color: blue;
}
/*标准色—白色*/
.c-white,
.c-white a,
a.c-white {
  color: white;
}
.c-white a:hover,
a.c-white:hover {
  color: white;
}
/*标准色—黑色*/
.c-black,
.c-black a {
  color: black;
}
.c-black a:hover,
a.c-black:hover {
  color: black;
}
/*标准色—橙色*/
.c-orange,
.c-orange a,
a.c-orange {
  color: #fb923f;
}
.c-orange a:hover,
a.c-orange:hover {
  color: #fb923f;
}
/*3.4.3 select 下拉框
<span class="select-box">
  <select class="select" size="1" name="demo">
    <option value="1" selected>默认</option>
    <option value="2">菜单二</option>
    <option value="3">菜单三</option>
  </select>
</span>
    Explain:
    select 是表单元素中最难美化的一个，有两种美化方式：
        1、修改源生的，修改有限，只能修改个边框，背景，字体。优点：程序方便操作；缺点：丑，浏览器之间存在很大差异。
        2、将源生的隐藏掉，用其他元素（如div li）通过js模拟下拉交互，然后再传值给源生的select。优点：好看，兼容好；缺点：代码冗余，依赖JS，不方便操作
*/
/*方法一、修改源生*/
.select-box {
  border: solid 1px #ddd;
  box-sizing: border-box;
  vertical-align: middle;
  width: 100%;
  display: inline-block;
}
.select {
  border: solid 1px #ddd;
  box-sizing: border-box;
  cursor: pointer;
  line-height: normal;
  font-weight: normal;
  width: 100%;
}
.select-box .select {
  border: none;
}
.select-box.inline,
.select-box.inline .select {
  width: auto;
}
.select-box,
.select-box.size-M {
  height: 31px;
  padding: 4px 5px;
}
.select,
.size-M .select {
  font-size: 14px;
}
.select-box.size-MINI {
  height: 23px;
  padding: 0px 5px;
}
.size-MINI .select {
  font-size: 12px;
}
.select-box.size-S {
  height: 27px;
  padding: 3px 5px;
}
.size-S .select {
  font-size: 12px;
}
.select-box.size-L {
  height: 37px;
  padding: 8px 15px;
}
.size-L .select {
  font-size: 16px;
}
.select-box.size-XL {
  height: 48px;
  padding: 10px 5px;
}
.size-XL .select {
  font-size: 18px;
}
@media (max-width: 767px) {
  .responsive .select-box {
    border: none;
  }
  .responsive .select-box .select,
  .responsive .select {
    border: solid 1px #ddd;
    padding: 10px;
    font-size: 16px;
  }
  .responsive .select-box,
  .responsive .select-box.size-M,
  .responsive .select-box.size-MINI,
  .responsive .select-box.size-S,
  .responsive .select-box.size-L,
  .responsive .select-box.size-XL {
    height: auto;
    padding: 0;
  }
}
/*3.5 按钮
    Name:           style_button
    Example:        <button class="btn radius radius btn-primary|btn-info|btn-success|btn-warning|btn-danger|btn-inverse|btn-link" type="button">按钮</button>
    Explain:        btn-primary：主要|btn-info：信息|btn-success：成功|btn-warning：警告|btn-danger：危险|btn-inverse：反向|btn-link：链接

*/
/*关闭*/
.close {
  font-size: 20px;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4;
  filter: alpha(opacity=40);
}
/* CSS 箭头*/
/* 向上的箭头 */
.dot-top {
  font-size: 0;
  line-height: 0;
  border-width: 5px;
  border-color: inherit;
  border-top-width: 0;
  border-style: dashed;
  border-bottom-style: solid;
  border-left-color: transparent;
  border-right-color: transparent;
}
/* 向右的箭头 */
.dot-right {
  font-size: 0;
  line-height: 0;
  border-width: 7px;
  border-color: inherit;
  border-right-width: 0;
  border-top-width: 4px;
  border-bottom-width: 4px;
  border-style: dashed;
  border-left-style: solid;
  border-top-color: transparent;
  border-bottom-color: transparent;
}
/* 向下的箭头 */
.dot-bottom {
  font-size: 0;
  line-height: 0;
  border-width: 5px;
  border-color: inherit;
  border-bottom-width: 0;
  border-style: dashed;
  border-top-style: solid;
  border-left-color: transparent;
  border-right-color: transparent;
}
/* 向左的箭头 */
.dot-left {
  font-size: 0;
  line-height: 0;
  border-width: 5px;
  border-color: inherit;
  border-left-width: 0;
  border-style: dashed;
  border-right-style: solid;
  border-top-color: transparent;
  border-bottom-color: transparent;
}
button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}
/*按钮*/
.btn,
.btn2 {
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  font-weight: 400;
  white-space: nowrap;
  vertical-align: middle;
  -moz-padding-start: npx;
  -moz-padding-end: npx;
  border: solid 1px #ddd;
  background-color: #fff;
  width: auto;
  *zoom: 1;
  *overflow: visible;
  -webkit-transition: background-color .1s linear;
  -moz-transition: background-color .1s linear;
  -o-transition: background-color .1s linear;
  transition: background-color .1s linear;
  border-radius: 3px;
}
.btn2 {
  border-color: #043739;
  color: #043739;
}
.btn_jt {
  position: relative;
}
.btn_jt:after {
  content: '.';
  font-size: 0;
  line-height: 0;
  border-width: 7px;
  border-color: inherit;
  border-right-width: 0;
  border-top-width: 4px;
  border-bottom-width: 4px;
  border-style: dashed;
  border-left-style: solid;
  border-top-color: transparent;
  border-bottom-color: transparent;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}
.btn_jt_white {
  position: relative;
}
.btn_jt_white:after {
  content: '.';
  font-size: 0;
  line-height: 0;
  border-width: 7px;
  border-color: inherit;
  border-right-width: 0;
  border-top-width: 4px;
  border-bottom-width: 4px;
  border-style: dashed;
  border-left-style: solid;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-left-color: #fff;
  border-right-color: #fff;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}
a.btn:hover,
a.btn:focus,
a.btn:active,
a.btn.active,
a.btn.disabled,
a.btn[disabled] {
  text-decoration: none;
}
.btn:active,
.btn.active {
  background-color: #ccc;
}
.btn:first-child {
  *margin-left: 0;
}
.btn.active,
.btn:active {
  -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.125) inset;
  -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.125) inset;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.125) inset;
}
/*默认——灰色    通常用于取消*/
.btn-default {
  background-color: #e6e6e6;
  border-color: #e6e6e6;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active {
  color: #333;
  background-color: #c7c7c7;
  border-color: #c7c7c7;
}
/*主要——主色    通常用于确定、提交、购买、支付等*/
.btn-primary {
  color: #fff;
  background-color: #5a98de;
  border-color: #5a98de;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  color: #fff;
  background-color: #0a6999;
  border-color: #0a6999;
}
/*次要按钮*/
.btn-secondary {
  color: #fff;
  background-color: #3bb4f2;
  border-color: #3bb4f2;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #fff;
  background-color: #0f9ae0;
  border-color: #0f9ae0;
}
/*成功*/
.btn-success {
  color: #fff;
  background-color: #5eb95e;
  border-color: #5eb95e;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active {
  color: #fff;
  background-color: #429842;
  border-color: #429842;
}
/*警告*/
.btn-warning {
  color: #fff;
  background-color: #f37b1d;
  border-color: #f37b1d;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active {
  color: #fff;
  background-color: #c85e0b;
  border-color: #c85e0b;
}
/*危险*/
.btn-danger {
  color: #fff;
  background-color: #dd514c;
  border-color: #dd514c;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active {
  color: #fff;
  background-color: #c62b26;
  border-color: #c62b26;
}
/*链接*/
.btn-link {
  color: #0e90d2;
  cursor: pointer;
  border-color: transparent;
  background-color: transparent;
}
.btn-link:hover,
.btn-link:focus,
.btn-link:active,
.btn-link.active {
  color: #095f8a;
  text-decoration: underline;
  background-color: transparent;
}
/*orange*/
.btn-orange {
  color: #fff;
  cursor: pointer;
  border-color: #ff7612;
  background-color: #ff7612;
}
.btn-orange:hover,
.btn-orange:focus,
.btn-orange:active,
.btn-orange.active {
  color: #fff;
  text-decoration: underline;
  background-color: #f36803;
}
/*orange2*/
.btn-orange2 {
  color: #fff;
  cursor: pointer;
  border-color: #fb923f;
  background-color: #fb923f;
}
.btn-orange2:hover,
.btn-orange2:focus,
.btn-orange2:active,
.btn-orange2.active {
  color: #fff;
  text-decoration: underline;
  background-color: #f86d00;
}
/*禁用状态*/
.btn.disabled {
  cursor: not-allowed;
  background-image: none;
  opacity: .65;
  filter: alpha(opacity=65);
  box-shadow: none;
  pointer-events: none;
}
/*块级按钮*/
.btn-block {
  -moz-box-sizing: border-box;
  display: block;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}
/* Outline buttons */
.btn-primary-outline {
  color: #5a98de;
  background-color: transparent;
  background-image: none;
  border-color: #5a98de;
}
.btn-primary-outline.active,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline:focus,
.open > .btn-primary-outline.dropdown-toggle {
  color: #fff;
  background-color: #5a98de;
  border-color: #5a98de;
}
.btn-primary-outline:hover {
  color: #fff;
  background-color: #5a98de;
  border-color: #5a98de;
}
.btn-primary-outline.disabled.focus,
.btn-primary-outline.disabled:focus,
.btn-primary-outline:disabled.focus,
.btn-primary-outline:disabled:focus,
fieldset[disabled] .btn-primary-outline.focus,
fieldset[disabled] .btn-primary-outline:focus {
  border-color: #0a6999;
}
.btn-primary-outline.disabled:hover,
.btn-primary-outline:disabled:hover,
fieldset[disabled] .btn-primary-outline:hover {
  border-color: #0a6999;
}
.btn-secondary-outline {
  color: #3bb4f2;
  background-color: transparent;
  background-image: none;
  border-color: #3bb4f2;
}
.btn-secondary-outline.active,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline:focus,
.open > .btn-secondary-outline.dropdown-toggle {
  color: #fff;
  background-color: #3bb4f2;
  border-color: #3bb4f2;
}
.btn-secondary-outline:hover {
  color: #fff;
  background-color: #3bb4f2;
  border-color: #3bb4f2;
}
.btn-secondary-outline.disabled.focus,
.btn-secondary-outline.disabled:focus,
.btn-secondary-outline:disabled.focus,
.btn-secondary-outline:disabled:focus,
fieldset[disabled] .btn-secondary-outline.focus,
fieldset[disabled] .btn-secondary-outline:focus {
  border-color: #0f9ae0;
}
.btn-secondary-outline.disabled:hover,
.btn-secondary-outline:disabled:hover,
fieldset[disabled] .btn-secondary-outline:hover {
  border-color: #0f9ae0;
}
.btn-success-outline {
  color: #5eb95e;
  background-color: transparent;
  background-image: none;
  border-color: #5eb95e;
}
.btn-success-outline.active,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline:focus,
.open > .btn-success-outline.dropdown-toggle {
  color: #fff;
  background-color: #5eb95e;
  border-color: #5eb95e;
}
.btn-success-outline:hover {
  color: #fff;
  background-color: #5eb95e;
  border-color: #5eb95e;
}
.btn-success-outline.disabled.focus,
.btn-success-outline.disabled:focus,
.btn-success-outline:disabled.focus,
.btn-success-outline:disabled:focus,
fieldset[disabled] .btn-success-outline.focus,
fieldset[disabled] .btn-success-outline:focus {
  border-color: #429842;
}
.btn-success-outline.disabled:hover,
.btn-success-outline:disabled:hover,
fieldset[disabled] .btn-success-outline:hover {
  border-color: #429842;
}
.btn-warning-outline {
  color: #f37b1d;
  background-color: transparent;
  background-image: none;
  border-color: #f37b1d;
}
.btn-warning-outline.active,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline:focus,
.open > .btn-warning-outline.dropdown-toggle {
  color: #fff;
  background-color: #f37b1d;
  border-color: #f37b1d;
}
.btn-warning-outline:hover {
  color: #fff;
  background-color: #f37b1d;
  border-color: #f37b1d;
}
.btn-warning-outline.disabled.focus,
.btn-warning-outline.disabled:focus,
.btn-success-outline:disabled.focus,
.btn-warning-outline:disabled:focus,
fieldset[disabled] .btn-warning-outline.focus,
fieldset[disabled] .btn-warning-outline:focus {
  border-color: #c85e0b;
}
.btn-warning-outline.disabled:hover,
.btn-warning-outline:disabled:hover,
fieldset[disabled] .btn-warning-outline:hover {
  border-color: #c85e0b;
}
.btn-danger-outline {
  color: #dd514c;
  background-color: transparent;
  background-image: none;
  border-color: #dd514c;
}
.btn-danger-outline.active,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline:focus,
.open > .btn-danger-outline.dropdown-toggle {
  color: #fff;
  background-color: #dd514c;
  border-color: #dd514c;
}
.btn-danger-outline:hover {
  color: #fff;
  background-color: #dd514c;
  border-color: #dd514c;
}
.btn-danger-outline.disabled.focus,
.btn-danger-outline.disabled:focus,
.btn-success-outline:disabled.focus,
.btn-danger-outline:disabled:focus,
fieldset[disabled] .btn-danger-outline.focus,
fieldset[disabled] .btn-danger-outline:focus {
  border-color: #c62b26;
}
.btn-danger-outline.disabled:hover,
.btn-danger-outline:disabled:hover,
fieldset[disabled] .btn-danger-outline:hover {
  border-color: #c62b26;
}
.btn-orange-outline {
  color: #ff7612;
  background-color: transparent;
  background-image: none;
  border-color: #ff7612;
}
.btn-orange-outline.active,
.btn-orange-outline.focus,
.btn-orange-outline:active,
.btn-orange-outline:focus,
.open > .btn-orange-outline.dropdown-toggle {
  color: #fff;
  background-color: #ff7612;
  border-color: #ff7612;
}
.btn-orange-outline:hover {
  color: #fff;
  background-color: #ff7612;
  border-color: #f36803;
}
.btn-orange-outline.disabled.focus,
.btn-orange-outline.disabled:focus,
.btn-success-outline:disabled.focus,
.btn-orange-outline:disabled:focus,
fieldset[disabled] .btn-orange-outline.focus,
fieldset[disabled] .btn-orange-outline:focus {
  border-color: #c62b26;
}
.btn-orange-outline.disabled:hover,
.btn-orange-outline:disabled:hover,
fieldset[disabled] .btn-orange-outline:hover {
  border-color: #c62b26;
}
/*3.1.25 尺寸 新增尺寸全局类名，用于表单、按钮、表格、头像、标签等元素上，要与元素一起配合使用，方能看到效果*/
/*迷你*/
/*小*/
/*中 缺省默认尺寸，可以不写，可以理解为：均码*/
/*L*/
/*大*/
/*加大*/
/*超大*/
.input-text,
.btn,
.input-text.size-M,
.btn.size-M {
  font-size: 14px;
  height: 31px;
  line-height: 1.42857;
  padding: 4px;
} /*默认为M，可以不写，可以理解为：均码*/
a.btn,
a.btn.size-M,
span.btn,
span.btn.size-M {
  line-height: 21px;
}
.btn,
.btn.size-M {
  padding: 4px 12px;
}
.input-text.size-MINI,
.btn.size-MINI {
  font-size: 12px;
  height: 23px;
  padding: 1px 2px;
  line-height: 1.42857;
} /*迷你*/
a.btn.size-MINI,
span.btn.size-MINI {
  line-height: 21px;
}
.btn.size-MINI {
  padding: 1px 4px;
}
.input-text.size-S,
.btn.size-S {
  font-size: 12px;
  height: 27px;
  padding: 3px;
  line-height: 1.42857;
} /*小*/
a.btn.size-S,
span.btn.size-S {
  line-height: 19px;
}
.btn.size-S {
  padding: 3px 8px;
}
.input-text.size-L,
.btn.size-L {
  font-size: 16px;
  height: 37px;
  padding: 8px;
  border-radius: 10px;
} /*大*/
a.btn.size-L,
span.btn.size-L {
  line-height: 19px;
}
.btn.size-L {
  padding: 8px 26px;
}
.input-text.size-XL,
.btn.size-XL {
  font-size: 18px;
  height: 48px;
  padding: 10px;
  border-radius: 10px;
} /*特大*/
a.btn.size-XL,
span.btn.size-XL {
  line-height: 26px;
  border-radius: 10px;
}
.btn.size-XL {
  padding: 10px 24px;
  border-radius: 10px;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #d5d3d3;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #d5d3d3;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #d5d3d3;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #d5d3d3;
}
.animated {
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.delay02 {
  -moz-animation-delay: .2s;
  -webkit-animation-delay: .2s;
  -o-animation-delay: .2s;
  animation-delay: .2s;
}
.delay03 {
  -moz-animation-delay: .3s;
  -webkit-animation-delay: .3s;
  -o-animation-delay: .3s;
  animation-delay: .3s;
}
.delay04 {
  -moz-animation-delay: .4s;
  -webkit-animation-delay: .4s;
  -o-animation-delay: .4s;
  animation-delay: .4s;
}
.delay05 {
  -moz-animation-delay: .5s;
  -webkit-animation-delay: .5s;
  -o-animation-delay: .5s;
  animation-delay: .5s;
}
.delay06 {
  -moz-animation-delay: .6s;
  -webkit-animation-delay: .6s;
  -o-animation-delay: .6s;
  animation-delay: .6s;
}
.delay07 {
  -moz-animation-delay: .7s;
  -webkit-animation-delay: .7s;
  -o-animation-delay: .7s;
  animation-delay: .7s;
}
.delay08 {
  -moz-animation-delay: .8s;
  -webkit-animation-delay: .8s;
  -o-animation-delay: .8s;
  animation-delay: .8s;
}
.delay09 {
  -moz-animation-delay: .9s;
  -webkit-animation-delay: .9s;
  -o-animation-delay: .9s;
  animation-delay: .9s;
}
.delay1 {
  -moz-animation-delay: 1s;
  -webkit-animation-delay: 1s;
  -o-animation-delay: 1s;
  animation-delay: 1s;
}
.delay13 {
  -moz-animation-delay: 1.3s;
  -webkit-animation-delay: 1.3s;
  -o-animation-delay: 1.3s;
  animation-delay: 1.3s;
}
.delay16 {
  -moz-animation-delay: 1.6s;
  -webkit-animation-delay: 1.6s;
  -o-animation-delay: 1.6s;
  animation-delay: 1.6s;
}
.delay19 {
  -moz-animation-delay: 1.9s;
  -webkit-animation-delay: 1.9s;
  -o-animation-delay: 1.9s;
  animation-delay: 1.9s;
}
.delay2 {
  -moz-animation-delay: 2s;
  -webkit-animation-delay: 2s;
  -o-animation-delay: 2s;
  animation-delay: 2s;
}
.delay21 {
  -moz-animation-delay: 2.1s;
  -webkit-animation-delay: 2.1s;
  -o-animation-delay: 2.1s;
  animation-delay: 2.1s;
}
.delay24 {
  -moz-animation-delay: 2.4s;
  -webkit-animation-delay: 2.4s;
  -o-animation-delay: 2.4s;
  animation-delay: 2.4s;
}
.delay26 {
  -moz-animation-delay: 2.6s;
  -webkit-animation-delay: 2.6s;
  -o-animation-delay: 2.6s;
  animation-delay: 2.6s;
}
.delay3 {
  -moz-animation-delay: 3s;
  -webkit-animation-delay: 3s;
  -o-animation-delay: 3s;
  animation-delay: 3s;
}
.delay35 {
  -moz-animation-delay: 3.5s;
  -webkit-animation-delay: 3.5s;
  -o-animation-delay: 3.5s;
  animation-delay: 3.5s;
}
.delay4 {
  -moz-animation-delay: 4s;
  -webkit-animation-delay: 4s;
  -o-animation-delay: 4s;
  animation-delay: 4s;
}
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 20%, 0);
    transform: translate3d(0, 20%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 20%, 0);
    transform: translate3d(0, 20%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.fadeInUp2 {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
@-webkit-keyframes fadeInUp2 {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 40%, 0);
    transform: translate3d(0, 40%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp2 {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 40%, 0);
    transform: translate3d(0, 40%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.fadeInUp2 {
  -webkit-animation-name: fadeInUp2;
  animation-name: fadeInUp2;
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -5%, 0);
    transform: translate3d(0, -5%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -5%, 0);
    transform: translate3d(0, -5%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}
@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}
@-webkit-keyframes bounceIn {
  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes bounceIn {
  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
.bounceIn {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
}
@-webkit-keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }
  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}
@keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }
  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}
.flipInX {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInX;
  animation-name: flipInX;
}
/* header &&  footer*/
.header {
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 10px;
}
.header .size-L {
  border-radius: 8px;
}
.logo {
  width: 177px;
  height: 56px;
  margin-top: 17px;
  display: inline-block;
}
.logo img {
  width: 100%;
}
.nav {
  margin-left: 40px;
  margin-top: 38px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
.nav li {
  display: inline-block;
  padding: 0 13px;
  height: 35px;
  text-align: center;
}
.nav li:nth-child(1):after {
  display: none !important;
}
.nav li.no_nav_pop:after {
  display: none !important;
}
.nav li .nav_pop {
  display: none;
  width: 1004px;
  border-radius: 3px;
  position: absolute;
  top: 35px;
  left: 60px;
  min-width: 590px;
  margin-left: -300px;
  background: #fff;
  border: 2px solid #ff7612;
  border-radius: 5px;
  font-size: 12px;
  text-align: left;
  white-space: nowrap;
  z-index: 99;
  background: #ff7612;
}
.nav li .nav_pop a {
  display: block;
  padding-bottom: 0;
  font-size: 12px;
  color: #333 !important;
}
.nav li .nav_pop a:hover {
  color: #fb923f !important;
}
.nav li .nav_pop .alt {
  display: inline-block;
  width: 420px;
  padding: 15px;
  color: #fff;
  white-space: normal;
  text-align: center;
  vertical-align: top;
}
.nav li .nav_pop .alt strong {
  display: block;
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: normal;
}
.nav li .nav_pop .alt p {
  font-size: 15px;
  line-height: 25px;
}
.nav li .nav_pop dl {
  display: inline-block;
  width: 520px;
  min-height: 95px;
  background: #fff;
  padding: 25px 15px;
  vertical-align: top;
}
.nav li .nav_pop dd {
  display: inline-block;
  width: 170px;
  text-align: center;
  background-color: #fff;
  border-left: 1px solid #686767;
}
.nav li .nav_pop dd a {
  font-size: 15px;
  line-height: 30px;
  border-bottom: none;
}
.nav li .nav_pop dd:nth-child(1) {
  border-left: 0;
}
.nav li.cur a {
  display: block;
  color: #fb923f;
  border-bottom: 2px solid #ff7612;
}
.nav li:hover a {
  display: block;
  color: #fb923f;
  border-bottom: 2px solid #ff7612;
}
.nav li:hover .nav_pop {
  display: block;
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInX;
  animation-name: flipInX;
}
.nav li:hover:after {
  display: inline-block;
}
.nav li:after {
  display: none;
  content: '.';
  font-size: 0;
  line-height: 0;
  border-width: 5px;
  border-color: inherit;
  border-top-width: 0;
  border-style: dashed;
  border-bottom-style: solid;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: #ff7612;
  border-bottom-color: #ff7612;
  margin-top: 3px;
}
.nav li:after1 {
  display: none;
  left: 0;
  bottom: 7px;
  height: 2px;
  width: 100%;
  content: ' ';
  background-color: #ff7612;
  background-color: transparent \9;
}
.nav li.active:after,
.nav li:hover:after {
  display: inline-block;
}
.nav a {
  display: inline-block;
  padding-bottom: 3px;
  -webkit-transition: none;
  transition: none;
 /* color: #828282;*/
  font-size: 16px;
  line-height: 22px;
}
.nav a:hover,
.nav a.cur {
  border-bottom: 2px solid #ff7612;
}
.banner img {
  width: 100%;
}
.footer {
  background: #272727;
  padding: 20px;
  color: #fff;
}
.footer .footer_con {
  max-width: 1200px;
  margin: 0 auto;
}
.footer .footer_con .logo_footer {
  margin-top: 15px;
}
.footer .footer_con ul li {
  display: inline-block;
  margin-left: 82px;
}
.footer .footer_con ul li strong {
  display: block;
  font-size: 18px;
  line-height: 40px;
}
.footer .footer_con ul li a {
  display: block;
  line-height: 25px;
  font-size: 16px;
  color: #fff;
}
.footer .copyright {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 30px;
}
.boxbg {
  background: #eeeff5;
}
/*通用素材图片*/
.sucai {
  overflow: hidden;
  background-repeat: no-repeat;
}
.sucai1 {
  overflow: hidden;
  background-repeat: no-repeat;
  width: 342px;
  height: 180px;
  background: url(../img/sucai.png);
}
.sucai2 {
  overflow: hidden;
  background-repeat: no-repeat;
  width: 209px;
  height: 399px;
  background: url(../img/sucai.png) 0 -180px;
}
.bg-gray {
  background-color: #eeeff5 !important;
  overflow: hidden;
}
.line-t {
  line-height: 50px;
  height: 50px;
  font-size: 24px;
  text-align: center;
  position: relative !important;
}
.line-t:after {
  position: absolute;
  top: 50%;
  left: 0;
  content: ' ';
  width: 100%;
  border-bottom: 1px solid #959595;
}
.line-t .tt {
  display: inline-block;
  position: relative;
  z-index: 9;
  margin: o auto;
  overflow: hidden;
}
.line-t h2 {
  float: left;
  font-size: 24px;
  text-align: center;
  padding: 0 20px;
}
.orange_table {
  line-height: 36px;
  font-size: 14px;
}
.orange_table tr td:nth-child(1) {
  font-size: 18px;
  text-align: center;
}
.orange_table thead,
.orange_table tbody:nth-child(1) {
  background: #ff7612;
  font-size: 20px;
  color: #fff;
}
.orange_table tbody {
  background: #fff;
  border-left: 1px solid #ff7612;
  border-right: 1px solid #ff7612;
  line-height: 20px;
}
.orange_table tbody tr {
  padding: 10px 0;
  border-bottom: 1px solid #ff7612;
}
.orange_table tbody tr td {
  padding: 10px;
}
.tuwen_box {
  padding: 60px 120px;
}
.tuwen_box strong {
  display: inline-block;
  padding-bottom: 10px;
  font-weight: normal;
  line-height: 35px;
}
.tuwen_box p {
  font-size: 15px;
  padding: 10px 0;
  line-height: 25px;
}
.tuwen_box a {
  font-size: 12px;
  color: #6c6b6b;
}
.index_box {
  margin: 0 auto;
  overflow: hidden;
  background-repeat: no-repeat;
}
.index_box .t {
  font-size: 24px;
  text-align: center;
}
.index_box6 {
  height: 460px;
  background: #fff;
}
.index_box6 .t {
  line-height: 100px;
}
.index_box6 .con {
  margin-left: 610px;
}
.index_box6 .con strong {
  display: block;
  font-size: 23px;
  font-weight: normal;
  margin-top: 46px;
  margin-bottom: 23px;
}
.index_box6 .con p {
  line-height: 25px;
}
.index_box7 {
  overflow: inherit;
  height: 514px;
  margin-bottom: 40px;
  background: #F6F6F6;
}
.index_box7 .t {
  padding-top: 55px;
}
.index_box7 .t2 {
  margin-top: 41px;
  font-size: 18px;
}
.index_box7 .form {
  width: 440px;
  margin: 43px 0 0 425px;
}
.index_box7 .form .input-text {
  width: 390px;
  height: 45px;
  margin-bottom: 15px;
  padding: 0 20px;
  border: 1px solid #c4bfbf;
  border-radius: 10px;
}
.sucai1 {
  position: absolute;
  left: 218px;
  top: 117px;
}
.sucai2 {
  position: absolute !important;
  left: 139px;
  top: 139px;
}
.t-banner {
  background-size: cover;
  height: 578px;
  background-position: bottom;
  min-width: 1200px;
  position: relative;
  overflow: hidden;
}
.t-title {
  position: relative;
  margin: 0 auto;
  height: 578px;
  width: 1000px;
}
.t-title img {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  margin-left: -340px;
  margin-top: -100px;
  z-index: 99;
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp2;
  animation-name: fadeInUp2;
  -moz-animation-delay: .7s;
  -webkit-animation-delay: .7s;
  -o-animation-delay: .7s;
  animation-delay: .7s;
}
.tb-bg {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.tb-bg img {
  width: 100%;
}
.t-fff {
  font-size: 30px;
  color: #fff;
  line-height: 45px;
}
.tp-banner {
  position: relative;
  font-size: 30px;
  color: #fff;
  line-height: 45px;
}
.tp-banner a {
  font-size: 30px;
  color: #fff;
  line-height: 45px;
}
.tp-banner .tt {
  width: 100%;
  position: absolute;
  left: 0;
  top: 40%;
  z-index: 2;
  text-align: center;
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp2;
  animation-name: fadeInUp2;
  -moz-animation-delay: .7s;
  -webkit-animation-delay: .7s;
  -o-animation-delay: .7s;
  animation-delay: .7s;
}
.tp-banner .img_bg {
  width: 100%;
}
.box_bg1 {
  display: inline-block;
  width: 245px;
  height: 247px;
  background: url(../img/box_bg1.png) no-repeat;
}
.box_bg1 .t {
  color: #fff;
  text-align: center;
  line-height: 32px;
}
.box_bg1 .txt {
  line-height: 25px;
  margin-top: 120px;
  text-align: center;
}
.box_ball_con {
  padding: 20px;
}
.box_balls {
  display: inline-block;
  margin-left: 57px;
  width: 132px;
  height: 132px;
  border-radius: 100px;
  background-color: #fb9a9b;
  color: #fff;
  font-size: 20px;
  text-align: center;
  padding: 1px;
}
.box_balls:nth-child(1) {
  margin-left: 0;
}
.box_balls .box_ball {
  width: 120px;
  height: 120px;
  border-radius: 100px;
  border: 6px solid #fff;
}
.box_balls span {
  display: inline-block;
  vertical-align: top;
  padding-top: 47px;
  line-height: 25px;
}
.ball2 {
  background-color: #fdc7b6;
}
.ball3 {
  background-color: #d8bdff;
}
.ball4 {
  background-color: #afeec4;
}
.ball5 {
  background-color: #b5cdfe;
}
.local_orange {
  line-height: 40px;
  background: #DE5411;
  color: #F1B79B;
}
.anli_con {
  padding: 15px;
}
.anli_con ul {
  overflow: hidden;
}
.anli_con ul li {
  width: 45%;
  height: 160px;
  overflow: hidden;
  padding: 2%;
  margin: 0 10px 10px 0;
  float: left;
  display: inline-block;
  background-color: #efefef;
  transition: all .5s ease 0s;
  -webkit-transition: all .5s ease 0s;
  -moz-transition: all .5s ease 0s;
  -o-transition: all .5s ease 0s;
}
.anli_con ul li img {
  float: left;
  margin-right: 15px;
  width: 260px;
  height: 160px;
}
.anli_con ul li h4 {
  font-size: 16px;
  color: #333;
  margin-bottom: 10px;
}
.anli_con ul li p {
  font-size: 14px;
  line-height: 22px;
}
/*# sourceMappingURL=base.css.map */



.dock {
  position:fixed;
  right:0px;
  width:50px;
  -moz-opacity:0.7;
  opacity:0.7;
  z-index:200;
}
.dock.close {
  z-index:50;
}
.dock ul.icons {
  position:absolute;
  list-style:none;
  right:0px;
  padding:0px;
  width:50px;
  border:1px solid #333;
  border-right:none;
  background:#111;
  -moz-border-radius:10px 0 0 10px;
  -webkit-border-radius:10px 0 0 10px;
  border-radius:10px 0 0 10px;
  -webkit-transition:all .3s ease-in-out 0s;
  -moz-transition:all .3s ease-in-out 0s;
  -ms-transition:all .3s ease-in-out 0s;
  -o-transition:all .3s ease-in-out 0s;
  transition:all .3s ease-in-out 0s;
}
.dock.close ul.icons {
  right:-70px;
}
.dock ul.icons li i {
  display:block;
  position:relative;
  width:50px;
  height:50px;
  background:url(../img/icons.png) no-repeat;
  cursor:pointer;
  -webkit-transition:all .3s ease-in-out 0s;
  -moz-transition:all .3s ease-in-out 0s;
  -ms-transition:all .3s ease-in-out 0s;
  -o-transition:all .3s ease-in-out 0s;
  transition:all .3s ease-in-out 0s;
  z-index:210;
}
.dock ul.icons li.active i {
  -moz-opacity:0.4;
  opacity:0.4;
}
.dock ul.icons li.up i {
  background-position:-63px -150px;
}
.dock ul.icons li.tel i {
  background-position:-62px -108px;
}
.dock ul.icons li.im i {
  background-position:-63px -20px;
}
.dock ul.icons li.wechat i {
  background-position:-59px -66px;
}
.dock ul.icons li.down i {
  background-position:-63px -190px;
}
.dock ul.icons li p {
  display:block;
  position:absolute;
  top:25px;
  right:-260px;
  padding:15px 20px;
  height:120px;
  color:White;
  line-height:30px;
  border:1px solid #333;
  border-right:none;
  background:#111;
  -moz-border-radius:10px 0 0 10px;
  -webkit-border-radius:10px 0 0 10px;
  border-radius:10px 0 0 10px;
  -moz-opacity:0;
  opacity:0;
  filter:alpha(opacity=0);
  -webkit-transition:all .4s ease-in-out .1s;
  -moz-transition:all .4s ease-in-out .1s;
  -ms-transition:all .4s ease-in-out .1s;
  -o-transition:all .4s ease-in-out .1s;
  transition:all .4s ease-in-out .1s;
  overflow:hidden;
  z-index:201;
}
.dock ul.icons li.active p {
  right:50px;
  -moz-opacity:1;
  opacity:1;
  filter:alpha(opacity=100);
}
.dock ul.icons li.im p {
  width:115px;
}
.dock ul.icons li.im p a {
  display:block;
  margin-top:12px;
  width:100px;
  height:35px;
  line-height:32px;
  color:#fb923f;
  font-size:16px;
  text-align:center;
  text-decoration:none;
  border:1px solid #fb923f;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
  -webkit-transition:all .3s ease-in-out 0s;
  -moz-transition:all .3s ease-in-out 0s;
  -ms-transition:all .3s ease-in-out 0s;
  -o-transition:all .3s ease-in-out 0s;
  transition:all .3s ease-in-out 0s;
}
.dock ul.icons li.im p a:hover {
  color:#fff;
  background:#fdb813;
  border:1px solid #fdb813;
}
.dock ul.icons li.tel p {
  top:90px;
  width:200px;
  height:30px;
  text-align:center;
  font-size:24px;
}
.dock ul.icons li.tel p .callback {
  display:inline-block;
  margin-top:15px;
}
.dock ul.icons li.tel p .callback input {
  float:left;
  padding-left:35px;
  width:110px;
  height:32px;
  font-family:Arial,"微软雅黑";
  font-size:16px;
  font-weight:bold;
  color:#fb923f;
  -moz-border-radius:5px 0px 0px 5px;
  -webkit-border-radius:5px 0px 0px 5px;
  border-radius:5px 0px 0px 5px;
  border:1px solid #fb923f;
  background:url(../img/icons.png) no-repeat 8px -706px;
  background-color:transparent;
  outline:none;
}
.dock ul.icons li.tel p .callback input.focus {
  background-position:8px -674px;
}
.dock ul.icons li.tel p .callback button {
  float:left;
  padding:4px 9px;
  color:#fb923f;
  font-size:16px;
  -moz-border-radius:0px 5px 5px 0px;
  -webkit-border-radius:0px 5px 5px 0px;
  border-radius:0px 5px 5px 0px;
  border:1px solid #fb923f;
  border-left:none;
  background:transparent;
  outline:none;
}
.dock ul.icons li.wechat p {
  width:118px;
}
.dock ul.icons li.wechat p img {
  width:115px;
  border:2px solid White;
}
